@import "vars";
@import "fonts";
@import "mixins";
//@import url(~normalize.css); ???
@import "../../node_modules/normalize.css/normalize.css";

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: #F8F8F8;
}

li {
  list-style: none;
}

.header {
  background: #FFFFFF;

  .container {
    padding: 0 24px;
  }

  &__inner {
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.menu {
  &__button {
   @include main-button;
   background: url('../assets/burgerMenu.png') #FF3E79 no-repeat no-repeat center center;
  }
}

.search {
  &__button {
   @include main-button;
   background: url('../assets/search.png') #FF3E79 no-repeat no-repeat center center;
  }
}

.tools {
  &__button {
    @include main-button;
    background: url('../assets/tool.png') #FF3E79 no-repeat no-repeat center center;
  }
}

.phone {
  &__button {
    @include main-button;
    background: url('../assets/call.png') #FF3E79 no-repeat no-repeat center center;
  }
}

.message {
  &__button {
    @include main-button;
    background: url('../assets/message.png') #FF3E79 no-repeat no-repeat center center;
  }
}

.person {
  &__button {
    @include main-button;
    background: url("../assets/profile.png") #FF3E79 no-repeat no-repeat center center;
  }
}

.phone__button, .message__button, .person__button {
  display: none;
}

.navigation{
  &__list{
    display: flex;
    overflow-x: hidden;
  }

  &__item {
    cursor: pointer;
    white-space: nowrap;
    padding: 8px;
    border: 2px solid transparent;
    &:first-child {
      background: #FFFFFF;
      border: 2px solid #B8FFEC;
      border-radius: 6px;
    }
  }

  &__link {
    color: #7E7E82;
  }
}

.text {
  display: block;
  font-size: 14px;
}

.title {

  &::before {
      content: '';
      display: block;
      position: absolute;
      background-color: #41f6d7;
      width: 8px;
      border-radius: 4px;
      height: 36px;
      left: 0;
      transform: translate(-4px);
  }
}

.readmore {
    display: block;
    margin: 16px 0;

  &__button {
    border: none;
    background: transparent;
    cursor: pointer;
    border: none;
  }

  &__button::before {
    content: '';
    display: inline-block;
    vertical-align: text-bottom;
    height: 100%;
    background: url('../assets/expand.svg')  no-repeat no-repeat center center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    position: relative;
    top: 4px;
  }
}

.services {
  display: none;
}

.navigation__link {
  color: #7e7e82;
  text-decoration: none;

  &__link:hover {
    color: darken($color: #7e7e82, $amount: 35%);
  }
}

.divider-icon {
  display: inline-block;
  vertical-align: super;
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  margin-left: 10px;
  margin-top: 4px;
}

@media (min-width: 768px) {
  .phone__button, .message__button, .person__button {
    display: block;
    @include main-button;
  }

  .navigation {

    &__list {
      flex-wrap: wrap;
    }
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }

  .services {
    display: flex;
  }

}

.about {
  &__img {
    margin-left: -16px;
    width: 100vw;
  }
}

//
//.icon-phone {
//  background: url('../../assets/icons/icon-phone.svg') no-repeat no-repeat center center;
//  display: none;
//  position: absolute;
//  top: 0;
//  left: 0;
//}
//
//.icon-burger {
//  background: url('../../assets/icons/icon-burger.svg') no-repeat no-repeat center center #ff3e79;
//}
//
//.icon-message {
//  background: url('../../assets/icons/icon-message.svg') no-repeat no-repeat center center #ff3e79;
//  display: none;
//  position: absolute;
//  top: 0;
//  left: 0;
//}
//.icon-profile {
//  background: url('../../assets/icons/icon-profile.svg') no-repeat no-repeat center center #ff3e79;
//  display: none;
//  position: absolute;
//  top: 0;
//  left: 0;
//}
.icon-settings {
  @include main-button;
  background: url('../assets/tool.png') no-repeat no-repeat center center #ff3e79;
}

.icon-search {
  @include main-button;
  background: url('../assets/search.png') no-repeat no-repeat center center #ff3e79;
}

.services {

  &__button {
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    //font-family: 'TTLakes-Medium';
  }
  &__label {
    margin-right: 9px;
  }
}
